<p style="color: green"><%= notice %></p>

<h1>Visitantes</h1>

<div id="visitantes">
  <table class="table table-striped table-bordered">
      <%= link_to "Adicionar visitante", new_visitante_path, class: "btn btn-success" %>
      <p></p>
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>RG</th>
        <th>Visitou em:</th>
      </tr>
    </thead>
    <tbody>
      <% @visitantes.each do |visitante| %>
        <tr>
          <td><%= visitante.nome %></td>
          <td><%= visitante.cpf %></td>
          <td><%= visitante.telefone %></td>
          <td><%= visitante.rg %></td>
          <td><%= visitante.visitou_em %></td>
          <td>
          <%= link_to "Mostrar", visitante, class: "btn btn-primary" %></td>
         <td> <%= button_to "Deletar", visitante, method: :delete, class: "btn btn-danger"%> </td>
          <td><%= link_to "Editar", edit_visitante_path(visitante), class: "btn btn-warning"%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to "Adicionar visitante", new_visitante_path %>

