<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Mensagem de aviso -->
<p style="color: green"><%= notice %></p>

<!-- Seção de Funcionários -->
<div class="container mt-5">
  <% if user_signed_in? %>
    <div class="mb-4">
      <h1>Bem-vindo à seção de gerenciamento de funcionários</h1>
      <p>Lista de funcionários cadastrados</p>
    </div>

    <div class="mt-4">
    <% if current_user.admin? %>
      <%= link_to "Adicionar funcionário", new_funcionario_path, class: "btn btn-success" %>
      
      <% end %>
      
    </div>
  <% end %>

  <div id="funcionarios" class="mt-4">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>RG</th>
          <th>Telefone</th>
          <th>Secretaria</th>
          <th>Unidade</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @funcionarios.each do |funcionario| %>
          <tr>
            <td><%= funcionario.nome %></td>
            <td><%= funcionario.cpf %></td>
            <td><%= funcionario.rg %></td>
            <td><%= funcionario.telefone %></td>
            <td><%= funcionario.secretaria %></td>
            <td><%= funcionario.unidade %></td>
            <td>
            
    <% if current_user.admin? %>
              <%= link_to "Mostrar", funcionario, class: "btn btn-primary" %>
              <%= button_to "Deletar", funcionario, method: :delete, class: "btn btn-danger"%>
              <%= link_to "Editar", edit_funcionario_path(funcionario), class: "btn btn-warning"%>
       <% end %>
              
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- Barra de Navegação -->
